---

---

<ul class="flex flex-wrap items-center">
  <li
    class="relative inline-block pe-4 text-xs before:absolute before:end-1.5 before:top-1/2 before:size-0.75 before:-translate-y-1/2 before:rounded-full before:bg-gray-400 last:pe-0 last-of-type:before:hidden"
  >
    <a
      class="text-xs hover:text-gray-800 hover:decoration-2 focus:decoration-2 focus:outline-hidden dark:text-neutral-300"
      href="https://github.com/nabashi404">Github</a
    >
  </li>
  <li
    class="relative inline-block pe-4 text-xs before:absolute before:end-1.5 before:top-1/2 before:size-0.75 before:-translate-y-1/2 before:rounded-full before:bg-gray-400 last:pe-0 last-of-type:before:hidden"
  >
    <a
      class="text-xs hover:text-gray-800 hover:decoration-2 focus:decoration-2 focus:outline-hidden dark:text-neutral-300"
      href="https://x.com/nabashi404">X ( Twitter )</a
    >
  </li>
</ul>
